*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    text-align: center;
    color: brown;
    font-size: 1.2rem;
}

header{
    background: linear-gradient(rgb(133, 113, 47), rgb(170, 144, 42)
    );
}

select{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

button{
    width: 50px;
    height: 30px;
    border-radius:5px;
}

h3{
    background: black;
}